:root {
    margin: 0;
    --un-preset-primary-track: #f1f1f1;
    --un-preset-primary-thumb: #888;
    --un-preset-primary-thumb-hover: #555;

}

html,
body {
    margin: 0;
    width: 100%;
    height: 100%;
    background: #000
}

body {
    /* background-color: #000; */
    background: url(https://shinoa.net/00001.png);
    background-attachment: fixed;
    /* font-family: 'Mono', sans-serif; */
    font-family: 'Mono-Bold', sans-serif;
    color: #fff !important;
    margin: 0;
    height: 100vh;
    overflow: hidden;
    user-select: none;
}

justify-evenly @media screen and (max-width:980px) {
    .skill-icon {
        display: none !important;
    }
}

@media screen and (min-width:1700px) {
    .HealthBar {
        width: 280px !important;
    }
}


#app {
    backdrop-filter: blur(20px);
    background: rgba(0, 0, 0, .07);
    /* height: 100vh; */
}

*::-webkit-scrollbar {
    width: 2px;
    height: 4px;
}


::-webkit-scrollbar-track {
    /* background: transparent; */
    border-radius: 0px;
}


::-webkit-scrollbar-thumb {
    background: #999;
    /* border-radius: 4px; */
    transition: background-color 0.2s;
}


::-webkit-scrollbar-thumb:hover {
    background: rgb(251 191 36);

}

@font-face {
    font-family: 'Mono';
    src:
        url('\\font\\JetBrainsMono-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Mono-Bold';
    src:
        url('\\font\\JetBrainsMono-Bold.ttf') format('truetype');
}

table,
thead,
tr,
th {
    background: transparent !important;
}